@model EmployeeModel

<h5>Create new employee</h5>

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName)

            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName)

            @Html.LabelFor(x => x.Age)
            @Html.TextBoxFor(x => x.Age)
            <input type="submit" value="Submit" />
        </div>
    </div>
}