@model FakeLoginModel

@using (Html.BeginForm("Authenticate", "Home", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.ValidationMessageFor(x => x.Username)
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username)

            @Html.ValidationMessageFor(x => x.Password)
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
            <input type="submit" value="Submit" />
        </div>
    </div>
}
